; Node 2 - TEST2-1 (HUB)
; Connects to: node1, node3, node4

SIMPLE
NODECALL=TEST2-1
NODEALIAS=NODE2
LOCATOR=NONE
BTINTERVAL=30
MINQUAL=50
NODESINTERVAL=1

; Enable Mail and Chat (built-in)
LINMAIL
LINCHAT
APPLICATION 2,CHAT,,TEST2-9,T2CHAT,192

; AXUDP port to Node 1
PORT
PORTNUM=1
ID=Link to NODE1
DRIVER=BPQAXIP
QUALITY=192
MAXFRAME=4
FRACK=5000
RESPTIME=1000
RETRIES=10
PACLEN=236
CONFIG
UDP 10093
MAP TEST1-1 172.20.0.2 UDP 10093 B
BROADCAST QST-0
BROADCAST NODES-0
DONTCHECKSOURCECALL
ENDPORT

; AXUDP port to Node 3
PORT
PORTNUM=2
ID=Link to NODE3
DRIVER=BPQAXIP
QUALITY=192
MAXFRAME=4
FRACK=5000
RESPTIME=1000
RETRIES=10
PACLEN=236
CONFIG
UDP 10094
MAP TEST3-1 172.20.0.4 UDP 10094 B
BROADCAST QST-0
BROADCAST NODES-0
DONTCHECKSOURCECALL
ENDPORT

; AXUDP port to Node 4 (custom chat node)
PORT
PORTNUM=3
ID=Link to NODE4
DRIVER=BPQAXIP
QUALITY=192
MAXFRAME=4
FRACK=5000
RESPTIME=1000
RETRIES=10
PACLEN=236
CONFIG
UDP 10095
MAP TEST4-1 172.20.0.5 UDP 10095 B
BROADCAST QST-0
BROADCAST NODES-0
DONTCHECKSOURCECALL
ENDPORT

; Telnet server
PORT
PORTNUM=4
ID=Telnet Server
DRIVER=TELNET
CONFIG
LOGGING=1
TCPPORT=8010
FBBPORT=0
HTTPPORT=8080
LOGINPROMPT=Callsign:
PASSWORDPROMPT=Password:
LOCALECHO=1
USER=SYSOP,test,SYSOP,,SYSOP
USER=ALICE,test,ALICE,,
USER=BOB,test,BOB,,
USER=CAROL,test,CAROL,,
USER=DAN,test,DAN,,
ENDPORT

ROUTES:
TEST1-1,192,1
TEST3-1,192,2
TEST4-1,192,3
