; Node 1 - TEST1-1
; Connects to: node2 (TEST2-1)

SIMPLE
NODECALL=TEST1-1
NODEALIAS=NODE1
LOCATOR=NONE
BTINTERVAL=30
MINQUAL=50
NODESINTERVAL=1

; Enable Mail and Chat (built-in)
LINMAIL
LINCHAT
APPLICATION 2,CHAT,,TEST1-9,T1CHAT,192

; AXUDP port to Node 2
PORT
PORTNUM=1
ID=Link to NODE2
DRIVER=BPQAXIP
QUALITY=192
MAXFRAME=4
FRACK=5000
RESPTIME=1000
RETRIES=10
PACLEN=236
CONFIG
UDP 10093
MAP TEST2-1 172.20.0.3 UDP 10093 B
BROADCAST QST-0
BROADCAST NODES-0
DONTCHECKSOURCECALL
ENDPORT

; Telnet server
PORT
PORTNUM=2
ID=Telnet Server
DRIVER=TELNET
CONFIG
LOGGING=1
TCPPORT=8010
FBBPORT=0
HTTPPORT=8080
LOGINPROMPT=Callsign:
PASSWORDPROMPT=Password:
LOCALECHO=1
USER=SYSOP,test,SYSOP,,SYSOP
USER=ALICE,test,ALICE,,
USER=BOB,test,BOB,,
USER=CAROL,test,CAROL,,
USER=DAN,test,DAN,,
ENDPORT

ROUTES:
TEST2-1,192,1
