; Node 7 - TEST7-1 (LinBPQ with built-in chat)
; Connects to: node5 (TEST5-1)

SIMPLE
NODECALL=TEST7-1
NODEALIAS=NODE7
LOCATOR=NONE
BTINTERVAL=30
MINQUAL=50
NODESINTERVAL=1

; Enable Mail and Chat (built-in)
LINMAIL
LINCHAT
APPLICATION 2,CHAT,,TEST7-9,T7CHAT,192

; AXUDP port to Node 5 (tarpn-chat)
PORT
PORTNUM=1
ID=Link to NODE5
DRIVER=BPQAXIP
QUALITY=192
MAXFRAME=4
FRACK=5000
RESPTIME=1000
RETRIES=10
PACLEN=236
CONFIG
UDP 10098
MAP TEST5-1 172.20.0.6 UDP 10098 B
BROADCAST QST-0
BROADCAST NODES-0
DONTCHECKSOURCECALL
ENDPORT

; Telnet server
PORT
PORTNUM=2
ID=Telnet Server
DRIVER=TELNET
CONFIG
LOGGING=1
TCPPORT=8010
FBBPORT=0
HTTPPORT=8080
LOGINPROMPT=Callsign:
PASSWORDPROMPT=Password:
LOCALECHO=1
USER=SYSOP,test,SYSOP,,SYSOP
USER=ALICE,test,ALICE,,
USER=BOB,test,BOB,,
USER=CAROL,test,CAROL,,
USER=DAN,test,DAN,,
ENDPORT

ROUTES:
TEST5-1,192,1
