body {
  font-family: monospace;
  background-color: #222;
  color: #eee;
}

#output {
  white-space: pre-wrap;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #666;
  padding: 10px;
  background-color: #000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #666;
}
