body {
  font-family: monospace;
  background-color: #222;
  color: #eee;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  height: 100%;
  display: flex;
}

#output {
  white-space: pre-wrap;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #666;
  padding: 10px;
  background-color: #000;
}

main {
  flex-grow: 1;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #666;
}

footer {
  padding: 10px 0;
  text-align: center;
  margin-top: 30px;
}

.highlight {
  background-color: #222;
}

.time {
    color: #a0a0a0;
}

.T {
    color: #dd7777; /* Light red for T */
    font-weight: bold;
}

.R {
    color: #7777dd; /* Light blue for R */
    font-weight: bold;
}

.hidden {
  display: none;
}
