{{/* Message template for TNC monitor lines */}}
<div class='logline' port='{{.Port}}' route='{{.Route}}'>
    <span class='time'>{{.Timestamp}}</span>
    <span class='{{.Prefix}}'>{{.Prefix}}x Port={{.Port}}</span>
    <span class='msg' style="color: {{.RouteColor}}">{{.Route}} {{.Message}}</span>
</div> 