; Node 6 - TEST6-1 (LinBPQ with built-in chat)
; Connects to: node4 (TEST4-1)

SIMPLE
NODECALL=TEST6-1
NODEALIAS=NODE6
LOCATOR=NONE
BTINTERVAL=30
MINQUAL=50
NODESINTERVAL=1

; Enable Mail and Chat (built-in)
LINMAIL
LINCHAT
APPLICATION 2,CHAT,,TEST6-9,T6CHAT,192

; AXUDP port to Node 4 (tarpn-chat)
PORT
PORTNUM=1
ID=Link to NODE4
DRIVER=BPQAXIP
QUALITY=192
MAXFRAME=4
FRACK=5000
RESPTIME=1000
RETRIES=10
PACLEN=236
CONFIG
UDP 10097
MAP TEST4-1 172.20.0.5 UDP 10097 B
BROADCAST QST-0
BROADCAST NODES-0
DONTCHECKSOURCECALL
ENDPORT

; Telnet server
PORT
PORTNUM=2
ID=Telnet Server
DRIVER=TELNET
CONFIG
LOGGING=1
TCPPORT=8010
FBBPORT=0
HTTPPORT=8080
LOGINPROMPT=Callsign:
PASSWORDPROMPT=Password:
LOCALECHO=1
USER=SYSOP,test,SYSOP,,SYSOP
USER=ALICE,test,ALICE,,
USER=BOB,test,BOB,,
USER=CAROL,test,CAROL,,
USER=DAN,test,DAN,,
ENDPORT

ROUTES:
TEST4-1,192,1
